<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>
  <link href="../static/css/auth.css" rel="stylesheet">
</head>
<body>
  <div class="container" id="login-form">
  <h2>Change Password</h2>
  <form action="/change-password" method="POST">
    <label for="login-email">Email:</label>
    <input type="email" name="email" placeholder="Enter email" required>
    
    <label for="login-password">New Password:</label>
    <input type="password" name="new_password" placeholder="Enter new password" required>
    
    <button type="submit" id="login-btn">Update Password</button>
  </form>
</div>
  {% if message %}
    <script>alert("{{ message }}");</script>
  {% endif %}
</body>
</html>
